*{
    box-sizing: border-box;
}

h1{

}

.cicle-one{
    height: 50%;
    width: 50%;
    margin-top: 10%;
    margin-left: 20%;
    border-radius: 50%;
    background-color: #c4c4c4;
}

.cicle-two{
    border: 1px solid #c4c4c4;
    height: 50%;
    width: 50%;
    margin-top: -20%;
    margin-left: 35%;
    border-radius: 50%;
    
}

.cicle-two img{
    padding: 1rem;
    width: 90%;
    height: 90%;
    margin: 5% auto;
}

.signup-container{

    height: 100vh;
    display: flex;
    flex-direction: column;
}

.signup{
    display: flex;
    margin-top: 8%;
}

.signup-form{
    width: 40%;
    margin: 2rem;
    border: 1px solid red;
    border-radius: 5rem;
}

.image{
    width: 50%;
    margin: 2rem;
    padding: 1rem;
}

img{
    width: 90%;
    height: 90%;
}


.signup-form form label{
    display: block;
}

.signup-form form input{
    display: block;
    width: 80%;
    margin: 2rem auto;
}